<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vodka.name %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @vodka.memo %>
</p>

<p>
<%= image_tag @vodka.image.url if @vodka.image.present? %>
</p>

<%= link_to 'Edit', edit_vodka_path(@vodka) %> |
<%= link_to 'Back', vodkas_path %>
