<p id="notice"><%= notice %></p>

<h1>Gins</h1>




<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Memo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gins.each do |gin| %>
      <tr>
        <td><%= gin.name %></td>
        <td><%= gin.memo %></td>
        
        <td><%= link_to 'Show', gin %></td>
        <td><%= link_to 'Edit', edit_gin_path(gin) %></td>
        <td><%= link_to 'Destroy', gin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div><%= paginate @gins %>
</div>

<br>

<%= link_to 'New Gin', new_gin_path %>
<p><a href="/gins/find/">検索</a></>
<p><a href="/drinks/">top</a></>
